<!doctype html>
<!--[if IEMobile 7]>					<html class="no-js iem7 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]>			<html class="no-js ie ie7 lt-ie8 lt-ie9 lt-ie10 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>			<html class="no-js ie ie8 lt-ie9 lt-ie10 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]>			<html class="no-js ie ie9 lt-ie10" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" data-ng-app="qrApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="images/gumtree_apple_icon.png">
    <!-- Place favicon.ico in the root directory -->
    @Styles.Render("~/Content/basestyle")
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @{ Html.RenderPartial("_Header");  }

    <div id="main">
        @RenderSection("featured", required: false)
        
        @RenderBody()
    </div>


    @{ Html.RenderPartial("_Footer"); }

    @Scripts.Render("~/bundles/base")
    @RenderSection("scripts", required: false)

    @{ Html.RenderPartial("_Templates"); }
</body>
</html>
